n8n/workflow.json
{
  "name": "telegram-ai-order-automation",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85b5c530-2c13-4424-ab83-05979bc879a5",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        528
      ],
      "id": "99f7bb9e-f8c0-43ca-a9a8-a76634ac9611",
      "name": "Output",
      "notesInFlow": true,
      "notes": "Double-click to open"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -416,
        720
      ],
      "id": "b16482e8-0d48-4426-aa93-c3fee11dd3cd",
      "name": "OpenAI Model",
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "quAH5roojDsjpueq",
          "name": "n8n free OpenAI API credits"
        }
      },
      "notes": "Double-click to open"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize world news and tech news from the last 24 hours. \nSkip your comments. \nThe titles should be \"World news:\" and \"Tech news:\" \nToday is {{ $today }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -288,
        528
      ],
      "id": "084d56aa-d157-4964-9073-b36d9d9589c5",
      "name": "AI Summary Agent",
      "notesInFlow": true,
      "notes": "Double-click to open"
    },
    {
      "parameters": {
        "content": "### 📰 Daily AI Summary\n\n\nThis workflow gets the latest news and asks AI to summarize it for you.\n\n⭐ Bonus: Send the summary via email by connecting your Gmail account\n\n▶ Watch the video to get started ",
        "height": 272,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        32
      ],
      "id": "74d80857-5e63-47a8-8e86-8ecd10fd5f9e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -256,
        736
      ],
      "id": "07e84db4-340b-4532-895f-ac5b9232e08a",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -64,
        736
      ],
      "id": "8f8add3e-1311-4f3a-97d9-0a07804d8e0d",
      "name": "Create a document in Google Docs"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        544
      ],
      "id": "788e29e6-e4b0-4783-bb69-32a11c1edef4",
      "name": "Telegram Trigger",
      "webhookId": "01a037c8-460c-4440-a2b1-bdfb6d66b571",
      "credentials": {
        "telegramApi": {
          "id": "Ne0UBTlWGDStYgvH",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        480
      ],
      "id": "d9296770-afeb-4ea1-9237-aea5a87eec4d",
      "name": "Send a text message",
      "webhookId": "511b3a03-4790-40d9-a1a8-d0914a009196",
      "credentials": {
        "telegramApi": {
          "id": "5EVmMOxQPWegZBZE",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        544,
        688
      ],
      "id": "6beccf29-33c5-44bf-a7e5-d629fff05c2a",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "860c833a-c955-4f8f-8d7c-fa9ad15541ff",
              "leftValue": "order confirmed",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        256,
        704
      ],
      "id": "f78ac0ab-8b87-4719-8b87-f15841744d91",
      "name": "If Order is Confirmed"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Summary Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Summary Agent": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Order is Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Summary Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Summary Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Summary Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Order is Confirmed": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "availableInMCP": false
  },
  "versionId": "7c024923-92d7-4c5a-bc05-65d0f222a9c0",
  "meta": {
    "templateId": "ready-to-run-ai-workflow",
    "templateCredsSetupCompleted": true,
    "instanceId": "0eb204566744ef2a725eb752ca7948e71540f1af1d1be9b955b69f64062f00ea"
  },
  "id": "gPBY3iIzShlawIyP",
  "tags": []
}